//- var isLoggedIn = true //for testing
//- var username = 'Admiral Akbar' // for testing
nav.navbar.navbar-default.navbar-fixed-bottom
	.container-fluid
		.navbar-header
			//button.navbar-toggle.collapsed(type="button")
			a.navbar-brand(href="/") #{title}
			p.navbar-text &copy;2016 l.p.lade

		.pull-right.hidden-xs.hidden-sm
			if userLoggedIn
				.navbar-right
					p.navbar-text You are signed in as #{userLoggedIn}
					a.navbar-btn.btn.btn-default.btn-sm(href="/logout")
						span.glyphicon.glyphicon-log-out
						| #{' '}Sign out
			else
				form.navbar-form.navbar-right(action='login' method='post' role="login")
					.form-group.form-group-sm
						input.form-control(type="text" placeholder="Username")
						| #{' '}
						input.form-control(type="password" placeholder="Password")
						button.btn.btn-default.btn-sm(type="submit")
							span.glyphicon.glyphicon-log-in
							| #{' '}Sign in
		.pull-right.visible-xs.visible-sm
			if userLoggedIn
				p.navbar-text #{userLoggedIn}
				a.navbar-btn.btn.btn-default.btn-sm(href="/logout")
					span.glyphicon.glyphicon-log-out
			else
				a.navbar-text(href="/login") Log in
				a.navbar-text(href="/signup") Sign up
