extends layout

block content
	.container
		.row
			.col-md-6
				if error.status
					h1.page-header.alert.alert-danger
						span.glyphicon.glyphicon-alert
						| #{' '} HTTP #{error.status}
				else
					h1.page-header.alert.alert-danger
						span.glyphicon.glyphicon-alert
						| #{' '} ERROR
				p.text-warning= message
			.col-md-6
				.with-caption
					img.img-responsive(src="/img/32709-wallpaper1.jpg" alt="Cygnus X-1")
					p.small.text-info.pull-right= 'Image credit '
						a(href="http://sci.esa.int/integral/32709-artist-s-impression-of-cygnus-x-1/") ESA
		.row
			p Traceback
			pre #{error.stack}

