extends layout

block content
	.container
		.row
			.col-md-6.hidden-sm.hidden-xs
				//.spaceholder &nbsp;
				img.img.img-responsive(src="https://spaceholder.cc/600x1000" alt="")
			.col-md-6
				h1.page-header.text-uppercase= title
				h2 Create a game
				//TODO add players via Bootstrap modal?
				form(action="/newgame" method="post")
					input.hidden(name="creatorId" value="#{creatingUser._id}" hidden)
					.form-group
						label Game name
						input.form-control(type="text" name="gamename" placeholder="Game name" required)
						span.help-block Make up a creative title for your game
					.form-group
						label Player 1
						select.form-control.disabled(name="player1")
							option(value="#{creatingUser._id}" selected) #{creatingUser.local.username}
					//TODO the rest of these need to filter so you don't end up submitting duplicate players
					.form-group
						label Player 2
						select.form-control(name="player2")
							option(value="NOPLAYER" selected) --None--
							for user in users
								option(value="#{user._id}") #{user.local.username}
					.form-group
						label Player 3
						select.form-control(name="player3")
							option(value="NOPLAYER" selected) --None--
							for user in users
								option(value="#{user._id}") #{user.local.username}
					.form-group
						label Player 4
						select.form-control(name="player4")
							option(value="NOPLAYER" selected) --None--
							for user in users
								option(value="#{user._id}") #{user.local.username}
					.form-group
						label Galaxy size
						select.form-control(name="gridSize")
							option(value="8" selected) 8x8
					.form-group
						label Stellar density
						select.form-control(name="density")
							option(value="33.3333333" selected) 33%
					.form-group
						label Turn schedule
						input.form-control(type="text" name="cronStr" value="0 0 0 1/1 * ? *" readonly)
						//default to once a day at midnight
					button.btn.btn-default(type='submit') Create new game
					//TODO Client-side JS validation to make sure no player is listed not more than once?
