extends layout

block content
	.container
		h1.page-header.text-uppercase= title

		.users
			table.table.table-striped
				thead
					td User name
					td Joined
				for user in users
					tr
						td
							a(href="/users/#{user._id}") #{user.local.username}
						//TODO remove email from production
						td #{user.email}
						td #{user.signUpDate}


